@model UniversityApiBackend.Models.DataModels.Curso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionCorta" class="control-label"></label>
                <input asp-for="DescripcionCorta" class="form-control" />
                <span asp-validation-for="DescripcionCorta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionLarga" class="control-label"></label>
                <input asp-for="DescripcionLarga" class="form-control" />
                <span asp-validation-for="DescripcionLarga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicoObjetivo" class="control-label"></label>
                <input asp-for="PublicoObjetivo" class="form-control" />
                <span asp-validation-for="PublicoObjetivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Objetivos" class="control-label"></label>
                <input asp-for="Objetivos" class="form-control" />
                <span asp-validation-for="Objetivos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requisitos" class="control-label"></label>
                <input asp-for="Requisitos" class="form-control" />
                <span asp-validation-for="Requisitos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label"></label>
                <select asp-for="Nivel" class="form-control"></select>
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedBy" class="control-label"></label>
                <input asp-for="DeletedBy" class="form-control" />
                <span asp-validation-for="DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedOn" class="control-label"></label>
                <input asp-for="DeletedOn" class="form-control" />
                <span asp-validation-for="DeletedOn" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
